.isUnder {
  color: var(--color-accent-1);
}
.isOver {
  color: var(--color-error-500);
}
.wrapper {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: var(--borderRadius);
  margin-top: -8px;
  width: 500px;
}
.tipContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
