.isUnder {
  color: green;
}
.isOver {
  color: red;
}
.wrapper {
  background-color: bisque;
  display: flex;
  align-items: center;
  width: fit-content;
  padding-inline: 12px;
  border-radius: var(--borderRadius);
}
