.isUnder {
  color: var(--color-success-500);
}
.isOver {
  color: var(--color-error-500);
}
.wrapper {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  border-radius: var(--borderRadius);
  margin-top: -8px;
}
.tipContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}
