.wrapper {
  width: fit-content;
  padding: 8px;
}

.wrapper a {
  color: "pink";
  background-color: var(--bg);
  padding: 4px 8px;
  border-radius: var(--borderRadius);
  width: fit-content;
}

.content {
  padding: 12px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  border-radius: var(--borderRadius);
}
